body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

img:hover {
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transform-style: ease-in-out;
          transform-style: ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 10px 30px;
  height: 70px;
}

.navbar .list-items {
  font-weight: bold;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
  font-size: 1.2em;
  -ms-grid-columns: 100px 150px 150px 150px;
      grid-template-columns: 100px 150px 150px 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.navbar a {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-decoration: none;
  font-weight: 900;
  color: white;
  text-shadow: 0.5px 0.5px #0f8f8f;
}

.navbar a:hover {
  color: #c7bdbd;
  cursor: pointer;
  font-size: 1.25em;
}

#main-header {
  background: url(./Images/bg3.jpg) no-repeat center center/cover;
  overflow: hidden;
  height: 500px;
  width: 100vw;
  z-index: -2;
  border-bottom: 3px solid #54f4fa;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 90px;
}

.hero .mainpic {
  margin: 0px 36px;
  width: 200px;
  height: 200px;
  border: 3px solid #007780;
  border-radius: 50px;
}

.hero div {
  text-transform: uppercase;
  word-spacing: 5px;
  text-shadow: 2px 2px black;
  margin-left: 30px;
}

.hero h3 {
  font-size: 1.8em;
  font-weight: bold;
  color: cyan;
  margin-top: 15px;
  margin-bottom: 5px;
}

.hero h3 span {
  font-size: 1.3em;
  color: #1be4b8;
}

.hero h5 {
  font-size: 1.2em;
  color: #cce2dd;
  margin-bottom: 7px;
}

.hero p {
  font-size: 1.2em;
  color: #cce2dd;
}

#about {
  padding: 30px;
  padding-bottom: 60px;
  background-color: black;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  border-bottom: 2px solid cyan;
}

#about hr {
  margin-top: 10px;
  width: 600px;
}

#about h1 {
  margin-bottom: 45px;
  font-size: 1.5em;
  font-weight: 670;
}

#about .about-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .about-images img {
  width: 200px;
  height: 200px;
  margin: 20px 70px;
  border: 1px solid black;
  border-radius: 100%;
}

#about h4 {
  margin: 30px 0px;
}

#about .hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .hobbies div {
  border: 1px solid cyan;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 50px;
  text-align: center;
}

#about .hobbies div h6 {
  font-weight: bold;
  margin: 5px;
}

#about .hobbies img {
  border: 2px solid black;
  border-radius: 60%;
  width: 150px;
  height: 150px;
  margin: 10px;
}

#education {
  background-color: black;
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  border-bottom: 0.5px dotted sandybrown;
}

#education h1 {
  text-align: center;
  margin: 30px;
  font-size: 2em;
}

#education .eduprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#education .eduprofile div {
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 30px;
}

#education .eduprofile .box1 {
  padding: 15px;
  background-color: plum;
  color: black;
}

#education .eduprofile .box1:hover {
  -webkit-transform: scale(1.037);
          transform: scale(1.037);
  -webkit-transition-duration: 0.17s;
          transition-duration: 0.17s;
}

#education .eduprofile .box2 {
  padding: 15px;
  background-color: sandybrown;
  color: black;
}

#education .eduprofile .box2:hover {
  -webkit-transform: scale(1.037);
          transform: scale(1.037);
  -webkit-transition-duration: 0.17s;
          transition-duration: 0.17s;
}

#education .eduprofile .box3 {
  padding: 15px;
  background-color: lightcyan;
  color: black;
}

#education .eduprofile .box3:hover {
  -webkit-transform: scale(1.037);
          transform: scale(1.037);
  -webkit-transition-duration: 0.17s;
          transition-duration: 0.17s;
}

#education h2 {
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.minisection {
  margin: 20px 0px 0px 10px;
  text-align: center;
  font-size: 2.5em;
  border-bottom: 2px solid cyan;
}

.minisection span {
  color: cyan;
}

#contact {
  text-align: center;
  background-color: #201e1e;
  padding-bottom: 30px;
}

#contact h1 {
  margin: 20px 0px;
  padding-bottom: 20px;
  text-align: center;
  background-color: black;
  font-size: 2.3em;
}

#contact .allcontact {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .contact-address {
  padding-right: 40px;
}

#contact .contact-details {
  padding-left: 40px;
}

#contact h5 {
  text-align: left;
}

#contact h5 a {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  text-decoration: none;
  color: whitesmoke;
}

#contact h5 a:hover {
  color: burlywood;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#contact .ending-quote {
  text-align: center;
  font-size: 1.9em;
  font-weight: bold;
  background-color: #201e1e;
  color: #209b8f;
  padding-bottom: 30px;
}

.footer-2 {
  padding: 10px;
  border-bottom: 3px dashed red;
  width: 80%;
  margin: auto;
  word-spacing: 4px;
  color: #fdd488;
  font-size: 1em;
  font-weight: 600px;
}

footer {
  margin: 10px 0px 30px 0px;
  text-align: center;
  text-transform: uppercase;
  color: slategrey;
  font-weight: 900;
}

@media only screen and (max-width: 1150px) {
  img {
    height: 100px;
    width: 100px;
  }
  .navbar {
    width: 500px;
    margin: auto;
  }
  .hero {
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .about-images .imges1, #about .about-images .imges3 {
    display: none;
  }
  #about .about-images .img2 img {
    border: 2px solid cyan;
    border-radius: 20px;
    padding: 20px;
  }
  #about .hobbies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #about .hobbies div {
    width: 50%;
    padding: 20px;
    border: none;
  }
  #education {
    width: 100%;
    border-bottom: 2px solid cyan;
  }
  .eduprofile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .minisection {
    display: none;
  }
  #contact .allcontact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact h2 {
    text-align: left;
  }
  #contact .ending-quote {
    font-size: 1.1em;
    margin: none;
  }
  .contact-details {
    padding: none;
    margin: 0;
    text-align: center;
  }
  .contact-address {
    padding: none;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  hr {
    display: none;
  }
  #main-header {
    height: 350px;
  }
  #main-header .navbar ul li {
    font-size: 0.6em;
  }
  #main-header .list-items {
    -ms-grid-columns: 35px 35px 70px 35px;
        grid-template-columns: 35px 35px 70px 35px;
    grid-gap: 20px;
    width: 200px;
  }
  #main-header .mainpic {
    display: none;
  }
  #main-header .hero {
    text-align: center;
  }
  #main-header .hero div {
    margin: 0;
  }
  #main-header .hero span {
    display: block;
  }
  #about .about-images .imges1 {
    display: inline;
    border-radius: 20px;
  }
  #about .about-images .imges1 img {
    border: 2px solid cyan;
    border-radius: 30px;
    padding: 20px 0px;
  }
  #about .about-images .img2, #about .about-images .imges3 {
    display: none;
  }
  #education h2 {
    padding: 10px;
    font-size: 1em;
  }
}
/*# sourceMappingURL=Portfolio.css.map */